
a {
  color: white;
}
.cg-nav {
    background-color: rgb(247, 144, 30);
    padding-left:30px !important;
    padding-right:30px !important;
}
.cg-search {
    color: black;
}

.cg-btn {
    background-color:#0046A8;
}
.cg-cards-container {
  text-align: center;
}
.cg-project-card-image {
  transition: all .5s ease-in-out;
}
.card-image img:hover {
    opacity:0.8; 
}



.jumbotron {
  color: white;
  background:  linear-gradient(130deg, #0AABC4, #0046A8);
  display: flex;
  flex-direction: row;
}
.jumbotron .cg-jumbotron-titles {
  padding: 50px;
  flex-grow:50;
  
}
.jumbotron .cg-jumbotron-headshot {
  border-radius: 50%;
  height: 80%;
}



.cg-project-btn {
  padding-top:10px;
  color: white;
  background-color:#0046A8;
  min-width: 75px;
}