<nav>
  <div class="nav-wrapper cg-nav">
    <a href="#!" class="brand-logo"><h1>Galvanize Classifieds</h1></a>

  </div>
</nav>
<div class="container">
<div class="row">
    <div class="col m4">
        <md-input-container id="sortDropdown"  class="md-block dropdown-button" flex-gt-sm>
            <!--<label>Sort By:</label>-->
            <md-select ng-model=$ctrl.sortCategory placeholder="Sort By">
                <md-option value="created_at">
                    Date
                </md-option>
                <md-option value="price">
                    Price
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="col m4">
    </div>
<!-- </div>
<div class="row"> -->
    <div class="col m4">
      <input type="search" class="form-control input-sm search-form cg-search" placeholder="Search" ng-model="$ctrl.searchText">

  </div>
</div>
<div class="row">
  <!-- <div class="col m4"> -->
    <a class="btn btn-primary cg-btn" href="#" id="newAdFormBtn" ng-click="$ctrl.toggleAdvertiseForm($event)" ng-init="vm.toggleAdvertiseFormTracker=false">Advertise</a>
  <!-- </div> -->
</div>

<form  name="$ctrl.adForm" ng-if="$ctrl.toggleAdvertiseFormTracker" novalidate ng-submit="$ctrl.submitAd($ctrl.ad)">
    <div>
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" required ng-model="$ctrl.ad.title" ng-class="{'invalid': $ctrl.adForm.title.$invalid && $ctrl.adForm.title.$touched}">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" required ng-model="$ctrl.ad.description" ng-class="{'invalid': $ctrl.adForm.description.$invalid && $ctrl.adForm.description.$touched}"></textarea>
        <!-- <textarea id="description" name="description" class="form-control" required ng-model="$ctrl.ad.description" ng-class="{'has-error': $ctrl.adForm.body.$invalid && $ctrl.adForm.body.$touched}"></textarea> -->
    </div>
    <div>
        <label for="price">Price</label>
        <input id="price" name="price" class="form-control" required ng-model="$ctrl.ad.price" ng-class="{'invalid': $ctrl.adForm.price.$invalid && $ctrl.adForm.price.$touched}">
    </div>
    <div>
        <label for="item_image">Image URL</label>
        <input id="item_image" name="item_image" class="form-control" required ng-model="$ctrl.ad.item_image" ng-class="{'invalid': $ctrl.adForm.item_image.$invalid && $ctrl.adForm.item_image.$touched}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.adForm.$invalid">
        Create Ad
        </button>
    </div>
</form>


<div class="row cards-container cg-cards-container" >

    <div class="" ng-repeat="ad in $ctrl.ads | filter : $ctrl.searchText | orderBy : $ctrl.sortCategory : true" id={{$index}}>
        <div class="card" >
            <div class="card-image" >
                <img ng-src={{ad.item_image}}  alt="item image">
                <a ui-sref="editAd({id:ad.id})" style="right:70px;" class="btn-floating halfway-fab waves-effect waves-light rgb(38,166,154)"><i class="material-icons">mode_edit</i></a>
                <a ng-click="$ctrl.deleteAd(ad.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
            </div>
            <div class="card-content">
                <h4 ><b>{{ad.title}}</b></h4>
                <b>Description: </b><p class="card-text">{{ad.description}}</p>
                <p><b>Price:</b> {{ad.price | currency}}</p>
            </div>
        </div>
    </div>
</div>
</div>
